extends layout

block content
    .row
        .col-sm-4
            img(src=cat.picUrl).img-fluid
        .col-sm-8
            h1=cat.name
            p=cat.species
            .text-right
              a.btn.btn-primary(href="/cats/" + cat.id + "/purchase" role='button') Buy #{cat.name} Now!
            p Born on #{cat.birthday}
            p=cat.description
            .text-right
                a(href="/cats/" + cat.id + "/edit").btn-link Edit
            
            hr
            small.text-muted Comments for #{cat.name}
            form(action="/cats/" + cat.id + "/comments" method="POST")
                .form-group
                    textarea.form-control(name="body")
                .text-right
                    button(type="submit").btn.btn-primary Save Comment
            each c in comments
                p=c.body
                small.text-right
                    form(action="/cats/" + cat.id + "/comments/0?_method=DELETE" method="POST")
                        .text-right
                            button(type="submit").text-danger Remove
